body{
    background-image: url(picture_files/photo.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
   justify-content: space-between;
}
h1{
    color: blanchedalmond;
}
.classb{
    padding:25px;
}